DATABASE_URL="postgresql://neondb_owner:npg_taCMd9EXqlQ8@ep-lingering-rain-aes906ms-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="ec9bce37a594ed360af9ac8ff091ad3181e1bb199dd352d5672c4f01251e46bf"
ADMIN_EMAIL="admin@artdeexcellence.com"
ADMIN_PASSWORD="Admin@321."
